{
    "version": 4,
    "include": ["cmake/CMakePresets.json"],
    "configurePresets": [
        {
            "name": "ubuntu-default",
            "inherits": "default",
            "generator": "Ninja Multi-Config",
            "binaryDir": "${sourceDir}/out/build/ubuntu-default",
            "cacheVariables": {
                "CMAKE_INSTALL_PREFIX": "${sourceDir}/out/install/ubuntu-default"
            },
            "environment": {
                "VCPKG_ROOT": "/home/icuxika/CommandLineTools/vcpkg"
            }
        },
        {
            "name": "clang",
            "inherits": "default",
            "generator": "Ninja Multi-Config",
            "binaryDir": "${sourceDir}/out/build/clang",
            "cacheVariables": {
                "CMAKE_CXX_FLAGS": "-stdlib=libc++",
                "CMAKE_EXE_LINKER_FLAGS": "-fuse-ld=lld -Wl,-rpath,/home/icuxika/CommandLineTools/llvm/lib/x86_64-unknown-linux-gnu",
                "CMAKE_C_COMPILER": "clang",
                "CMAKE_CXX_COMPILER": "clang++",
                "CMAKE_INSTALL_PREFIX": "${sourceDir}/out/install/clang"
            },
            "environment": {
                "VCPKG_ROOT": "/home/icuxika/CommandLineTools/vcpkg"
            }
        },
        {
            "name": "llvmlibc-overlay",
            "inherits": "default",
            "generator": "Ninja Multi-Config",
            "binaryDir": "${sourceDir}/out/build/llvmlibc-overlay",
            "cacheVariables": {
                "CMAKE_C_FLAGS": "",
                "CMAKE_EXE_LINKER_FLAGS": "-static -l:libllvmlibc.a",
                "CMAKE_C_COMPILER": "clang",
                "CMAKE_INSTALL_PREFIX": "${sourceDir}/out/install/llvmlibc-overlay"
            },
            "environment": {
                "VCPKG_ROOT": "/home/icuxika/CommandLineTools/vcpkg"
            }
        },
        {
            "name": "llvmlibc-fullbuild",
            "inherits": "default",
            "generator": "Ninja Multi-Config",
            "binaryDir": "${sourceDir}/out/build/llvmlibc-fullbuild",
            "cacheVariables": {
                "CMAKE_C_FLAGS": "",
                "CMAKE_EXE_LINKER_FLAGS": "-static -rtlib=compiler-rt -fuse-ld=lld",
                "CMAKE_C_COMPILER": "/home/icuxika/CommandLineTools/llvm-libc/bin/clang",
                "CMAKE_SYSROOT": "/home/icuxika/CommandLineTools/llvm-libc",
                "CMAKE_TRY_COMPILE_TARGET_TYPE": "STATIC_LIBRARY",
                "CMAKE_INSTALL_PREFIX": "${sourceDir}/out/install/llvmlibc-fullbuild"
            },
            "environment": {
                "VCPKG_ROOT": "/home/icuxika/CommandLineTools/vcpkg"
            }
        },
        {
            "name": "musl",
            "inherits": "default",
            "generator": "Ninja Multi-Config",
            "binaryDir": "${sourceDir}/out/build/musl",
            "cacheVariables": {
                "CMAKE_C_FLAGS": "-nostdinc -I/home/icuxika/CommandLineTools/musl/include",
                "CMAKE_EXE_LINKER_FLAGS": "-L/home/icuxika/CommandLineTools/musl/lib -static -lc",
                "CMAKE_C_COMPILER": "musl-gcc",
                "CMAKE_INSTALL_PREFIX": "${sourceDir}/out/install/musl"
            },
            "environment": {
                "VCPKG_ROOT": "/home/icuxika/CommandLineTools/vcpkg"
            }
        }
    ],
    "buildPresets": [
        {
            "name": "ubuntu-default-debug",
            "configurePreset": "ubuntu-default",
            "configuration": "Debug"
        },
        {
            "name": "ubuntu-default-release",
            "configurePreset": "ubuntu-default",
            "configuration": "Release"
        },
        {
            "name": "clang-debug",
            "configurePreset": "clang",
            "configuration": "Debug"
        },
        {
            "name": "clang-release",
            "configurePreset": "clang",
            "configuration": "Release"
        },
        {
            "name": "llvmlibc-overlay-debug",
            "configurePreset": "llvmlibc-overlay",
            "configuration": "Debug"
        },
        {
            "name": "llvmlibc-overlay-release",
            "configurePreset": "llvmlibc-overlay",
            "configuration": "Release"
        },
        {
            "name": "llvmlibc-fullbuild-debug",
            "configurePreset": "llvmlibc-fullbuild",
            "configuration": "Debug"
        },
        {
            "name": "llvmlibc-fullbuild-release",
            "configurePreset": "llvmlibc-fullbuild",
            "configuration": "Release"
        },
        {
            "name": "musl-debug",
            "configurePreset": "musl",
            "configuration": "Debug"
        },
        {
            "name": "musl-release",
            "configurePreset": "musl",
            "configuration": "Release"
        }
    ]
}
